:root {
    --md-primary-fg-color: #64204C;
    --md-primary-bg-color: #cccccc;
    --md-accent-fg-color: #64204C;
}


.md-sidebar {
    width: 10rem;
}

.md-header__topic:first-child {
    font-size: 1.2rem;
    font-weight: 500;
}

mark.critic {
    background-color: var(--md-default-bg-color);
    color: var(--md-default-fg-color--light);
    font-weight: bold;
}

blockquote {
    font-size: 90%;
}

.md-typeset {
    color: #394A58;
    font-size: 0.8rem;
}

.md-typeset ul {
    list-style-type: square;
}

.md-typeset code {
    font-size: 85%;
}

.md-tabs__item a.md-tabs__link {
    font-size: 0.85rem;
}

.md-typeset table:not([class]),
.md-typeset__table td,
.md-typeset__table th {
    font-size: 100%; 
    line-height: 1.2;
}

.md-typeset__table td {
    white-space: nowrap;
}

.md-typeset__table code {
    font-size: 95%;
    line-height: 1.2;
    white-space: nowrap;
}

.md-typeset h1 {
    /* font-size: 1.6em; */
    font-size: 1.6em;
    font-weight: bold;
}

.md-typeset h2 {
    /* font-size: 1.4em; */
}

.md-typeset h3 {
    margin-top: 4em;
    /* font-style: italic; */
    /* font-size: 1.1em; */
}


.hide,
.math-definitions {
    display: none;
}

.md-typeset .twemoji {
    vertical-align: -0.15em;
}


/* Hide level 2 and deeper in RHS navigation sidebar */

.md-nav--secondary > .md-nav__list > .md-nav__item > .md-nav {
    display: none;
}


/* Hide H1 in tabbed sections */

.tabbed-block h1 {
    display: none;
}

.md-typeset .tabbed-labels > label {
    font-size: 0.8rem;
}

.md-footer__inner {
    display: none;
}

.md-typeset hr {
    margin-top: 10em;
}

